[submodule "frontend"]
	path = frontend
	url = https://github.com/LoboAnimae/master-in-business-intelligence-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/LoboAnimae/master-in-business-intelligence-backend.git
